# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pkl

# =========================
# Environnement virtuel
# =========================
.venv/
venv/
env/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Jupyter (si jamais)
# =========================
.ipynb_checkpoints/

# =========================
# Logs / TensorBoard
# =========================
runs/
logs/

# =========================
# Checkpoints (IMPORTANT)
# =========================
checkpoints/

# =========================
# Résultats (CSV)
# =========================
results/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache divers
# =========================
.cache/